body {
    background-color: rgb(55, 50, 50);
    text-align: center;
    
}
.flex1 {
    color: white;
    font-size: large;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    margin-right: 250px;
    position: relative;
    
    
}
.class1 {
    background-color: rgb(18, 58, 18);
    height: 100px;
    margin-top: -25px;
}
.flex1 .class2 {
     
    color: rgb(18, 58, 18); ;
    background-color: white;
    height: 100px;
    width: 250px;
    text-align: center;
    margin-right: 200px;
    font-weight:bolder;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
    
}
.flex1 div {
    margin: 40px;
}
.class3 {
    font-size: 80px;
    margin-top: 150px;
    font-family: sans-serif;
    color: white;
    width: 100%;
}
.class4 {
    font-size: xx-large;
    font-style: italic;
    color:rgb(19, 125, 19);
}
#image {
    background-image: url(1896255-text-font-screenshot-code-html-css-html-css_2.jpg
    ) ;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    
    
    
    
}
.class5 {
    color: white;
    font-size: 70px;
    font-family: serif;
    margin-top: 60px;
}
.class6 {
    color: rgb(208, 200, 200);
    font-style: italic;
    font-size: x-large;
}
.flex2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    
}
    
  .flex2 > div > a {
    color: white;
    margin: 40px;
  }
  .flex3 {
    display: flex;
    justify-content: center;
    font-size: large;
  }
  .flex3 > div > a {
    color: white;
    margin: 40px;
  }
.flex4 {
    display: flex;
color:rgb(208, 200, 200); ;
justify-content: flex-start;

}
hr {
    height: 7px;
    background-color: green;
}
.flex4 > div {
    margin-left: 300px;
    
}
@media screen and (max-width: 992px) {
    .flex1 > div {
        margin: 30px; 
      }
      .flex1 {
        margin-top: -30px;
        width: 100%;;
        
      }
      .flex1 .class2 {
        height: 100px;
        width: 199px;
        font-size: large; 
    }
    .flex4 > div {
        margin-left: 150px;
        justify-content: center;
    }
    .class3 {
        margin-top: 130px;
        
    }
    #image {
        height: 700px;   
    }
}
@media screen and (max-width: 600px) {
  .flex1 > div {
    margin: 5px; 
  }
  .flex1 {
    margin-right: 0px;
    margin-top: -30px;
    width: 100%;
    
  }
  .flex1 .class2 {
    height: 100px;
    width: 199px;
    margin-right: 0px;
    font-size: large; 
}
#image {
    height: 600px;   
}
.class3 {
    font-size: 50px;
    margin-top: 100px;
}
.class4 {
    font-size: x-large;
}
.class5 {
    font-size: 50px;
  margin-top: 0px;
}
.class6 {
    font-size: large;
}
.flex2 > div > a {
    margin: 15px;
  }
  .flex4 > div {
    margin-left: 30px;
}
}
